@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
 
}

body{
margin: 0px;
width: 100%;
height: 100%;
background-color: black;
}
#game{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#new .box{  /* here problem*/
	position: absolute;
	top: 20px;
	width: 510px;
	height: 510px;
	margin-left: 430px;
	margin-top: 80px;
	border-radius: 10px;
	background-color:rgb(209,209,209);
}
#new .block{
	position: relative;
	top: 0px;
	left: 0%;
	width: 170px;
	height: 170px;
	cursor: pointer;
	background-color: red;
	float: left;
	border-radius: 10px;
}
#new .lie{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: pink;
}
#new #line-first{
	width: 485px;
	left: 10px;
	top: 165px;
}
#new #line-second{
	width: 485px;
	left: 10px;
	top: 335px;
}
#new #line-third{
	height: 480px;
	left: 165px;
	top: 15px;
	transform: rotate(180deg);
}
#new #line-fourth{
	height: 480px;
	left: 335px;
	top: 15px;
	transform: rotate(180deg);
}
#first{
	position: absolute;
	/*left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;*/
	width: 510px;
	height: 510px;
	margin-left: 430px;
	margin-top: 100px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.6);
}
#second{
	position: absolute;
	top:25%;
	left: 10%;
	width: 400px;
	height: 250px;
	border-radius: 10px;
	background-color: #FFF;
}
#second .current {
	border-bottom: 5px solid #ddd;
}
#third{
	position: relative;
	float: left;
	top: 100px;
	left: 90px;
	width: 160px;
	height: 170px;
	margin-left: -60px;
	margin-top: -60px;
	cursor: pointer;
	border-radius: 10px;
	background-color: grey;
}

.o{
	position:absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin-left: -60px;
	margin-top: -60px;
	border-radius: 100px;
	/*background-color: black;*/
	border: 10px solid #4ad52e;
}
#fouth{
	position: relative;
	float: left;
	top: 100px;
	left: 90px;
	width: 160px;
	height: 170px;
	margin-left: 30px;
	margin-top: -60px;
	cursor: pointer;
	border-radius: 10px;
	background-color: grey;
}
.x{
	position:absolute;
	top: 10px;
	left: 10px;
	width: 140px;
	height: 150px;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 10px;
	/*background-color: black;*/
}

.x:before {
	position: absolute;
	top: -5px;
	left:65px;
	content: "";
	display: block;
	width: 10px;
	height: 160px;
	background: #488fda;
	border-radius: 5px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.x:after {
	position: absolute;
	top: -5px;
	left: 65px;
	content: "";
	display: block;
	width: 10px;
	height: 160px;
	background: #488fda;
	border-radius: 5px;	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.info{
	position: absolute;
	background-color: white;
	border-radius: 10px;
	padding: 0px 15px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;

}
.info:before {
	position: absolute;
	width: 0px;
	height: 0px;
	content: "";
	border: 15px solid transparent;	
	/*background-color: yellow;*/
}
#want-first{
	right: 30px;
	top: -100px;	
}
#want-first:before {
	left: 80px;
	bottom: -30px;
	border-top-color: #FFF;
}
#choose{
	left:  70px;
	top: 300px;	
}
#choose:before {
	top: -30px;
	right:110px;
	transform: rotate(180deg);
	border-top-color: #FFF
}
.fifth{
	position: absolute;
	width: 510px;
	height: 510px;
	margin-left: 430px;
	margin-top: -100px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.6);
}

#fifth{
	display: none;
}
 #seven{
 	position: absolute;
 	width: 3.5em;
	font-size:90px;
	font-weight: bold;
	text-align: center;
	line-height: 160px;
	background-color: white;
	border-radius: 10px;
	margin-left: 6em;
	margin-top: 3em;

}
#fifth #restart{
	top: 180px;
	margin-left: 12em;
	margin-top: 6em;	
	cursor: pointer;
}
.footer{
 float: left;
  width:70%;
  font-size: 20px;
  margin-top: 30em; 
  margin-left: 10px;
  color: white; 
}